#root {
  height: 100%;
  background : radial-gradient(ellipse at bottom, #5f22d9 0, #010101 30%);
}

.repo.card {
  background-color: #000000;
  transition: background-color 1s, transform 2s;
  border-radius: 5px;
}

.repo.card:hover {
  background-color: #5f22d9;
  transform: scale(1.1); /* (110% zoom)*/
  z-index: 1;
  transition: all 1.5s;
}

.text-color {
  color: #fefdfd !important;
}

.main-text {
  font-size: 55px;
  font-weight: 700;
}

.batu-name {
  font-size: 55px;
  color: #5f22d9 !important;
}

.primary-color{
  color: #5f22d9;
}

.opacity-anim {
  animation: 1s ease-out 0s 1 opacityAnim;
}

.leftToRight {
  -webkit-animation: leftToRight 1s linear;
}

.rightToLeft {
  -webkit-animation: rightToLeft 1s linear;
}

.neon-bar {
  height: 2px;
  color: #5f22d9;
  box-shadow: 0px 4px 12px 5px #5f22d9;
}

.remove-link-style {
  color: white !important;
  text-decoration: inherit;
}

.menu > a {
  color: white !important;
  text-decoration: inherit;
}

.menu-item {
  padding: 10%;
  border-radius: 15px;
}

.menu-item:hover {
  font-size: 20px;
  background-color: #18222f;
  box-shadow: 0px 0px 10px 1px #4b6cb7;
  transition: all 1s;
}

.btn-clr:hover{
  color: white !important;
  text-shadow: 2px 2px 8px white;
}


.screen {
  position: relative;
  background: #201f1f;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #5f22d9;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: white;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 20px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #5f22d9;
  font-size: 26px;
}

.app-contact {
  margin-top: auto;
  font-size: 15px;
  color: white  ;
}

.app-form-group {
  margin-bottom: 50px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}


@media screen and (max-width: 1420px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 25px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}


@media only screen and (min-width: 767px) {
  .bghidden {
    background-color: transparent !important;
  }  
}

@media only screen and (max-width:767px){
  #root{
    background : radial-gradient(ellipse at bottom, #5f22d9 0, #010101 80%);
  }
}

@keyframes opacityAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rightToLeft {
  from {
    -webkit-transform: translateX(100px);
  }
  to {
    -webkit-transform: translateX(0px);
  }
}

@keyframes leftToRight {
  from {
    -webkit-transform: translateX(-100px);
  }
  to {
    -webkit-transform: translateX(0px);
  }
}
